head
	title Advice Complexity of the Online-Knapsack-Problem
body
	.container
		.page-header
			h1 Advice Complexity of the Online-Knapsack-Problem
			img(src="knapsack.svg" style="display:block; margin: 0 auto")
		+experiments
		


template(name="experiments")

	each experiments
		+Experiment
	h2 Online algorithms with advice
	each experimentsWithAdvice
		+Experiment
	+competitivenessChart
	h2 Randomized online algorithm
	each randomExperiments
		+Experiment
		
			

template(name="Experiment")
	.panel.panel-default
		.panel-heading
			h2.panel-title {{name}}
		.panel-body
			{{description}}
			.row
				.col-xs-12.col-sm-5
					table.table
						tr 
							th Number of experiments:
							td {{gainHistory.size}}
						tr 
							th Average gain:
							td {{gainHistory.avg}}
						tr 
							th Best gain:
							td {{gainHistory.best}}
						tr 
							th Worst gain:
							td {{gainHistory.worst}}
						tr 
							th 1-competitive:
							td {{gainHistory.competitivePercentage "1-competitive"}} %
						tr 
							th 2-competitive:
							td {{gainHistory.competitivePercentage "2-competitive"}} % 
						tr 
							th 4-competitive:
							td {{gainHistory.competitivePercentage "4-competitive"}} %
						tr 
							th non-competitive:
							td {{gainHistory.competitivePercentage "non-competitive"}} %
			.row
				.col-xs-12
					+TickerGui ticker=ticker
			.row
				.col-xs-12.col-sm-5
					table.table
						tr 
							th acts: 
							td {{act}}
						tr 
							th adviceBits: 
							td.adviceBits=adviceBits
						tr 
							th Number of items: 
							td {{numberOfItems}}

			.row
				.currentItemContainer.col-xs-6
					h4 Current item:

					if currentItem
						p value: {{currentItem.value}}

						+KnapsackItem(currentItem)
						if willMatch
							.matches.yes
								.glyphicon.glyphicon-arrow-right
						else
							.matches.no
								.glyphicon.glyphicon-remove

				.knapsackContainer.col-xs-6
					+Knapsack knapsack


template(name="Knapsack")
	.knapsack(style="width: {{totalWidth}}px")
		h4 knapsack
		p items: {{items.length}}, gain: {{gain}}
		.items
			
			each items
				+KnapsackItem
			

template(name="KnapsackItem")
	.knapsack-item(style="width: {{width}}px; background-color: {{color}}")

template(name="competitivenessChart")

	
	.panel.panel-default
		.panel-heading
			h2.panel-title Bits VS competitiveness
		.panel-body
			+highchartsHelper chartId="competitivenessChart" chartWidth="100%" chartHeight="400px" chartObject=chartObject
			p (*) SLOG = 
				img(src="slog.png" height="40px")

template(name="TickerGui")
	.ticker
		.btn-group
			button.btn.btn-step.btn-primary
				.glyphicon.glyphicon-step-forward 
				| Step
			button.btn.btn-play.btn-default
				.glyphicon.glyphicon-play 
				| Play
			button.btn.btn-play-fast.btn-default
				.glyphicon.glyphicon-fast-forward
				| Play Fast
			button.btn.btn-stop.btn-warning
				.glyphicon.glyphicon-stop 
				| Stop
			button.btn.btn-reset.btn-danger
				.glyphicon.glyphicon-fast-backward 
				| Reset
