

.knapsack
	border: 2px solid blue
	box-sizing: content-box
	.items
	
		height: 75px
		.knapsack-item
			float: right;
.knapsack-item
	border: 1px dashed black
	height: 75px
	box-sizing: border-box


.adviceBits
	font-family: monospace
		